<template>
  <table>
    <button type="button" class="btn btn-Login">Login</button>

    <button type="button" class="btn btn-Register">Register</button>

    <button type="button" class="btn btn-Username">Username</button>

    <button type="button" class="btn btn-Password">Password</button>
       
    <tr>
      <td>
      <td>ชื่อ</td>   <input placeholder>
      <td>นามสกุล</td>  <input placeholder>
      <td>สาขา</td>  <input placeholder>
      <td>สถาบัน</td>   <input placeholder>
      <button type="submit" class="btn btn-primary" id="btn">ยืนยัน</button>
      </td> 
    </tr>

    <tbody>
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-xs-12">
            <form>
             
              <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-5" align="left">
                  <br>
                  <h4><font color="red">สมัครสมาชิก</font></h4>
                </div>
            
              </div>
              
              <div class="form-group">
                <div class="col-sm-2" align="right"><b>Username </b>:</div>
                <div class="col-sm-5" align="left">
                  <input placeholder="username">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-2" align="right"><b>Password </b>:</div>
                <div class="col-sm-5" align="left">
                  <input
                    name="Admin_password"
                    type="password"
                    required
                    class="form-control"
                    id="Admin_password"
                    placeholder="password"
                    pattern="^[a-zA-Z0-9]+$"
                    minlength="2"
                  >
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2" align="right"><b>ชื่อ-สกุล</b> :</div>
                <div class="col-sm-7" align="left">
                  <input
                    name="Admin_name"
                    type="text"
                    required
                    class="form-control"
                    id="Admin_name"
                    placeholder="ชื่อ-สกุล"
                  >
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-2" align="right"><b>อีเมล์ </b>:</div>
                <div class="col-sm-6" align="left">
                  <input
                    name="Admin_email"
                    type="email"
                    class="form-control"
                    id="Admin_email"
                    placeholder="อีเมล์"
                  >
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2" align="right"><b>เบอร์โทร </b>:</div>
                <div class="col-sm-6" align="left">
                  <input
                    name="Admin_phone"
                    type="text"
                    class="form-control"
                    id="Admin_phone"
                    placeholder="เบอร์โทร"
                  >
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2" align="right"><b>ที่อยู่ </b>:</div>
                <div class="col-sm-6" align="left">
                  <textarea name="address" class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-6">
                  <button type="submit" class="btn btn-primary" id="btn">สมัครสมาชิก</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <template v-for="item in info">
        <tr v-bind:key="item.id">
          <td>{{ item.firstname}}</td>
          
        </tr>
      </template>
    </tbody>
  </table>
</template>

<script>
import vue from "vue";
import axios from "axios";
export default {
  data() {
    return {
      info: null
    };
  },
  mounted() {
    axios
      .get("http://localhost:3000/api/people")
      .then(Response => (this.info = Response.data));
  }
};
</script>

<style>
</style>
